{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}


  
<header class='header'>
  <div>
    {{> logo}}
  </div>
  <nav class='header_nav'>
    <div class="header_nav_right">
      {{> nav list=header}}
    </div>
  </nav>
</header>

{{#with main}} 
  <div class="main">
    <img src="{{image}}" alt="Main_image" class="main_image">
    <div class="main_content">
      <h1 class="main_title">{{heading}}</h1>
      <p class="main_text">{{description}}</p>
      <a href="{{href}}" class="button main_button">{{button}}</a>      
    </div>
  </div>
{{/with}}

<div class="featured">
	{{#each featured}}
    	{{> cardFeatured data=this}}
 	{{/each}}
</div>

<div class="actions">
  {{#each actions}}
    <div class="form">
      <label class="form_heading">{{heading}}</label>
      <a class="btn" href="{{url}}">{{text}}</a>
    </div>
  {{/each}}
</div>


<footer class="footer">
  <div>
      {{> logo}}
      <span class="footer_copyright"><i class="bi bi-c-circle"></i> 2023</span>
  </div>
  {{#each footer}}
    <div>
      <span class="footer_title">{{title}}</span>
      {{> nav list=links isVertical=true}}
    </div>
  {{/each}}
</footer>


